#review {
  display: none;
  background-color: #efefef;
  padding: 10px;
}

#find {
  display: none;
  background-color: #efefef;
  padding: 10px;
  display: none;
}

#emptyForm p {
  padding-top: 10px;
}

form {
  padding-left: 10px;
}

#confirmation {
  display: none;
  font-weight: bold;
}

#match {
  display: none;
  font-weight: bold;
}

body {
  background-color: gray;
  background-size: 100%auto;
  top: 0;
  left: 0;
  background-attachment: fixed;
  text-align: center;
  background-image: url(../img/nicebeach.jpg);
  text-align: center;
}

.jumbotron {
  heght: 100%;
  width: 100%;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px;
  border-radius: 2px;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
  font-family: monospace;
}
